#search-btn {
    color: white;
}

#search-btn:hover {
    background-color: white;
    color: black;
}

.form-group {
    box-shadow: 0 0 10px 2px;
    border-radius: 5px;
    font-family: 'Segoe UI', 'Arial', sans-serif;
}

textarea {
    resize: none;
}